@import url("https://fonts.googleapis.com/css2?family=Pattaya&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  /* background-color: #eeeded; */
  background-color: #222222;
  color: #fa8072;
}
